
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #333;
}

.navbar {
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    padding: 20px;
    background-color: #f8f9fa;
}
#sidebar {
    width: 250px;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

#sidebar .nav-link {
    padding: 15px;
    font-size: 16px;
}

#sidebar .nav-link:hover {
    background-color: #343a40;
}


.main-content {
    margin-left: 250px;
}
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section h1, .hero-section p {
    color: white;
}
